.login-button{
    background-color: #FFA500;
    width: 90px;
    height: 43px;
    align-items: center;
    justify-content: center;
    color: #111;
    font-weight: 700;
}
.navigation-bar{
    width: 98%;
}
.logo-container{
    width: 20vh;
}
.drawer i{
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
.cart i{
    font-size: 30px;
}